@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="~/MovieTemp/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/MovieTemp/assets/css/all.min.css">
    <link rel="stylesheet" href="~/MovieTemp/assets/css/animate.css">
    <link rel="stylesheet" href="~/MovieTemp/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/MovieTemp/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/MovieTemp/assets/css/odometer.css">
    <link rel="stylesheet" href="~/MovieTemp/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/MovieTemp/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/MovieTemp/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/MovieTemp/assets/css/main.css">

    <link rel="shortcut icon" href="~/MovieTemp/assets/images/favicon.png" type="image/x-icon">

    <title>Boleto  - Online Ticket Booking Website HTML Template</title>


</head>

<body>

    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <a href="#0" class="scrollToTop">
        <i class="fas fa-angle-up"></i>
    </a>
    <section class="main-page-header speaker-banner bg_img" data-background="@Url.Content("~/MovieTemp/assets/images/banner/banner04.jpg")">


        <div class="container">
            <div class="speaker-banner-content">
                <h2 class="title">hakkımızda</h2>

            </div>
        </div>
    </section>

    <div class="philosophy-section padding-top padding-bottom bg-one bg_img bg_quater_img" data-background="@Url.Content("~/MovieTemp/assets/images/about/about-bg.jpg")">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 offset-lg-3 bg-two">
                    <div class="philosophy-content">
                        <div class="section-header-3 left-style">
                            <span class="cate">Take look at</span>
                            <h2 class="title">Vizyounumuz</h2>
                            <p class="ml-0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt labore et dolore magna aliqu enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip
                            </p>
                        </div>
                        <ul class="phisophy-list">
                            <li>
                                <div class="thumb">
                                    <img src="~/MovieTemp/assets/images/philosophy/icon1.png" alt="philosophy">
                                </div>
                                <h5 class="title">Dürüstlük ve Adillik </h5>
                            </li>
                            <li>
                                <div class="thumb">
                                    <img src="~/MovieTemp/assets/images/philosophy/icon2.png" alt="philosophy">
                                </div>
                                <h5 class="title">Dürüstlük ve Adillik</h5>
                            </li>
                            <li>
                                <div class="thumb">
                                    <img src="~/MovieTemp/assets/images/philosophy/icon3.png" alt="philosophy">
                                </div>
                                <h5 class="title">Müşterilere Odaklanma</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="about-counter-section padding-bottom padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-header-3 left-style mb-lg-0">
                        <span class="cate">hızlı bilgiler</span>
                        <h2 class="title">eğlenceli̇ gerçekler</h2>
                        <p>Proaktif hizmetler, tamamen araştırılmış büyüme stratejilerini sorunsuz bir şekilde güçlendirirken, ölçeklenebilir ölçümleri objektif olarak yakalayın.</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="about-counter">
                        <div class="counter-item">
                            <div class="counter-thumb">
                                <img src="~/MovieTemp/assets/images/about/about-counter01.png" alt="about">
                            </div>
                            <div class="counter-content">
                                <h3 class="title odometer" data-odometer-final="30"></h3>
                                <h3 class="title">M+</h3>
                            </div>
                            <span class="d-block info">Müşteri</span>
                        </div>
                        <div class="counter-item">
                            <div class="counter-thumb">
                                <img src="~/MovieTemp/assets/images/about/about-counter02.png" alt="about">
                            </div>
                            <div class="counter-content">
                                <h3 class="title odometer" data-odometer-final="11"></h3>
                            </div>
                            <span class="d-block info">Ülke</span>
                        </div>
                        <div class="counter-item">
                            <div class="counter-thumb">
                                <img src="~/MovieTemp/assets/images/about/about-counter03.png" alt="about">
                            </div>
                            <div class="counter-content">
                                <h3 class="title odometer" data-odometer-final="650"></h3>
                                <h3 class="title">+</h3>
                            </div>
                            <span class="d-block info">Şehirler</span>
                        </div>
                        <div class="counter-item">
                            <div class="counter-thumb">
                                <img src="~/MovieTemp/assets/images/about/about-counter04.png" alt="about">
                            </div>
                            <div class="counter-content">
                                <h3 class="title odometer" data-odometer-final="5000"></h3>
                                <h3 class="title">+</h3>
                            </div>
                            <span class="d-block info">Salonlar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="client-section padding-bottom padding-top bg_img" data-background="@Url.Content("~/MovieTemp/assets/images/client/client-bg.jpg")">
        <div class="container">
            <div class="section-header-3">
                <span class="cate">
                    GÖRÜŞLER
                </span>
                <h2 class="title">Gelen Yorumlar</h2>
            </div>
            <div class="client-slider owl-carousel owl-theme">
                <div class="client-item">
                    <div class="client-thumb">
                        <img src="~/MovieTemp/assets/images/client/client01.jpg" alt="client">
                    </div>
                    <div class="client-content">
                        <h5 class="title">
                            <a href="#0">Rafuz</a>
                        </h5>
                        <span class="info"><i class="fas fa-check"></i> Onaylı</span>
                        <blockquote class="client-quote">
                            "Harika fiyatlar ve diğer sitelerden daha ucuz! Kullanımı kolay."
                        </blockquote>
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-thumb">
                        <img src="~/MovieTemp/assets/images/client/client03.jpg" alt="client">
                    </div>
                    <div class="client-content">
                        <h5 class="title">
                            <a href="#0">Rudra</a>
                        </h5>
                        <span class="info"><i class="fas fa-check"></i> Onaylı</span>
                        <blockquote class="client-quote">
                            "Kullanımı kolay ve çok pratik"
                        </blockquote>
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-thumb">
                        <img src="~/MovieTemp/assets/images/client/client02.jpg" alt="client">
                    </div>
                    <div class="client-content">
                        <h5 class="title">
                            <a href="#0">Raihan</a>
                        </h5>
                        <span class="info"><i class="fas fa-check"></i> Onaylı</span>
                        <blockquote class="client-quote">
                            "Geniş film seçenekleri ve kaliteli hizmet"
                        </blockquote>
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-thumb">
                        <img src="~/MovieTemp/assets/images/client/client04.jpg" alt="client">
                    </div>
                    <div class="client-content">
                        <h5 class="title">
                            <a href="#0">Shahidul</a>
                        </h5>
                        <span class="info"><i class="fas fa-check"></i> Onaylı</span>
                        <blockquote class="client-quote">
                            "Mükemmel izleme deneyimi ve yüksek görüntü kalitesi!"
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="speaker-section padding-bottom padding-top">
        <div class="container">
            <div class="section-header-3">
                <span class="cate">En değerli̇leri̇mi̇zle tanışın</span>
                <h2 class="title">Uzman Ekip Üyeleri</h2>
                <p>
                    Bizim vizyonumuz, film tutkunlarına en iyi izleme deneyimini sunarak, sinema keyfini evlerinin konforunda yaşamalarını sağlamaktır.
                    Kaliteli içerik, uygun fiyatlar ve kullanıcı dostu bir platform ile her yaştan izleyicinin favori adresi olmayı hedefliyoruz.
                    Amacımız, teknolojiyi ve yenilikleri takip ederek, her zaman en iyi hizmeti sunmak ve filmseverlerin bir numaralı tercihi olmaktır.
                </p>
            </div>
            <div class="speaker--slider">
                <div class="speaker-slider owl-carousel owl-theme">
                    <div class="speaker-item">
                        <div class="speaker-thumb">
                            <a href="event-speaker.html">
                                <img src="~/MovieTemp/assets/images/speaker/speaker01.jpg" alt="speaker">
                            </a>
                        </div>
                        <div class="speaker-content">
                            <h5 class="title">
                                <a href="event-speaker.html">
                                    Gerard Bryan
                                </a>
                            </h5>
                            <span>CEO</span>
                        </div>
                    </div>
                    <div class="speaker-item">
                        <div class="speaker-thumb">
                            <a href="event-speaker.html">
                                <img src="~/MovieTemp/assets/images/speaker/speaker02.jpg" alt="speaker">
                            </a>
                        </div>
                        <div class="speaker-content">
                            <h5 class="title">
                                <a href="event-speaker.html">
                                    Raihan Rafuj
                                </a>
                            </h5>
                            <span>CEO</span>
                        </div>
                    </div>
                    <div class="speaker-item">
                        <div class="speaker-thumb">
                            <a href="event-speaker.html">
                                <img src="~/MovieTemp/assets/images/speaker/speaker03.jpg" alt="speaker">
                            </a>
                        </div>
                        <div class="speaker-content">
                            <h5 class="title">
                                <a href="event-speaker.html">
                                    Bela Bose
                                </a>
                            </h5>
                            <span>CEO</span>
                        </div>
                    </div>
                    <div class="speaker-item">
                        <div class="speaker-thumb">
                            <a href="event-speaker.html">
                                <img src="~/MovieTemp/assets/images/speaker/speaker04.jpg" alt="speaker">
                            </a>
                        </div>
                        <div class="speaker-content">
                            <h5 class="title">
                                <a href="event-speaker.html">
                                    Grass Hopper
                                </a>
                            </h5>
                            <span>CEO</span>
                        </div>
                    </div>
                </div>
                <div class="speaker-prev">
                    <i class="flaticon-double-right-arrows-angles"></i>
                </div>
                <div class="speaker-next">
                    <i class="flaticon-double-right-arrows-angles"></i>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery-section padding-top padding-bottom bg-one">
        <div class="container">
            <div class="section-header-3">
                <span class="cate">Bir göz atın</span>
                <h2 class="title">Herkese bir bilet.</h2>
                <p>
                    Amacımız, teknolojiyi ve yenilikleri takip ederek, her zaman en iyi hizmeti sunmak ve filmseverlerin bir numaralı tercihi olmaktır.
                </p>
            </div>
            <div class="row justify-content-center gallery-wrapper mb-30-none">
                <div class="col-lg-3 col-sm-6">
                    <div class="gallery-item two">
                        <div class="gallery-thumb">
                            <a href="~/MovieTemp/assets/images/gallery/gallery05.jpg" class="img-pop">
                                <i class="flaticon-loupe"></i>
                            </a>
                            <img src="~/MovieTemp/assets/images/gallery/gallery05.jpg" alt="gallery">
                        </div>
                    </div>
                    <div class="gallery-item two">
                        <div class="gallery-thumb">
                            <a href="~/MovieTemp/assets/images/gallery/gallery06.jpg" class="img-pop">
                                <i class="flaticon-loupe"></i>
                            </a>
                            <img src="~/MovieTemp/assets/images/gallery/gallery06.jpg" alt="gallery">
                        </div>
                    </div>
                    <div class="gallery-item two">
                        <div class="gallery-thumb">
                            <a href="~/MovieTemp/assets/images/gallery/gallery07.jpg" class="img-pop">
                                <i class="flaticon-loupe"></i>
                            </a>
                            <img src="~/MovieTemp/assets/images/gallery/gallery07.jpg" alt="gallery">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 order-lg-1">
                    <div class="gallery-item two">
                        <div class="gallery-thumb">
                            <a href="~/MovieTemp/assets/images/gallery/gallery11.jpg" class="img-pop">
                                <i class="flaticon-loupe"></i>
                            </a>
                            <img src="~/MovieTemp/assets/images/gallery/gallery11.jpg" alt="gallery">
                        </div>
                    </div>
                    <div class="gallery-item two">
                        <div class="gallery-thumb">
                            <a href="~/MovieTemp/assets/images/gallery/gallery12.jpg" class="img-pop">
                                <i class="flaticon-loupe"></i>
                            </a>
                            <img src="~/MovieTemp/assets/images/gallery/gallery12.jpg" alt="gallery">
                        </div>
                    </div>
                    <div class="gallery-item two">
                        <div class="gallery-thumb">
                            <a href="~/MovieTemp/assets/images/gallery/gallery13.jpg" class="img-pop">
                                <i class="flaticon-loupe"></i>
                            </a>
                            <img src="~/MovieTemp/assets/images/gallery/gallery13.jpg" alt="gallery">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="gallery-item two">
                        <div class="gallery-thumb">
                            <a href="~/MovieTemp/assets/images/gallery/gallery08.jpg" class="img-pop">
                                <i class="flaticon-loupe"></i>
                            </a>
                            <img src="~/MovieTemp/assets/images/gallery/gallery08.jpg" alt="gallery">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="gallery-item two">
                                <div class="gallery-thumb">
                                    <a href="~/MovieTemp/assets/images/gallery/gallery09.jpg" class="img-pop">
                                        <i class="flaticon-loupe"></i>
                                    </a>
                                    <img src="~/MovieTemp/assets/images/gallery/gallery09.jpg" alt="gallery">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="gallery-item two">
                                <div class="gallery-thumb">
                                    <a href="~/MovieTemp/assets/images/gallery/gallery10.jpg" class="img-pop">
                                        <i class="flaticon-loupe"></i>
                                    </a>
                                    <img src="~/MovieTemp/assets/images/gallery/gallery10.jpg" alt="gallery">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="tour-section padding-top padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="tour-content">
                        <div class="section-header-3 left-style">
                            <span class="cate">turumuza bir göz atın</span>
                            <h2 class="title">Güvenebileceğiniz garantiler.</h2>
                            <p class="ml-0">
                                Çünkü daha fazla gönül rahatlığı,daha fazla sevgi demektir.
                            </p>
                        </div>
                        <ul class="list-tour">
                            <li>
                                <div class="thumb">
                                    <img src="~/MovieTemp/assets/images/tour/icon01.png" alt="tour">
                                </div>
                                <div class="content">
                                    <h5 class="title">Garanti Kapsamına Girin</h5>
                                    <p>
                                        Orijinal biletler, zamanında teslimat ve etkinliğinize erişim. Ya da paranız geri. Nokta.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="thumb">
                                    <img src="~/MovieTemp/assets/images/tour/icon02.png" alt="tour">
                                </div>
                                <div class="content">
                                    <h5 class="title">Fiyat Eşitleme Garantisi</h5>
                                    <p>
                                        En iyi fiyatlar burada. Başka bir yerde daha iyi bir teklif bulursanız, aradaki farkı karşılarız.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="tour-thumb">
                        <img src="~/MovieTemp/assets/images/tour/tour.png" alt="tour">
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="~/MovieTemp/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/MovieTemp/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="~/MovieTemp/assets/js/plugins.js"></script>
    <script src="~/MovieTemp/assets/js/bootstrap.min.js"></script>
    <script src="~/MovieTemp/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/MovieTemp/assets/js/magnific-popup.min.js"></script>
    <script src="~/MovieTemp/assets/js/owl.carousel.min.js"></script>
    <script src="~/MovieTemp/assets/js/wow.min.js"></script>
    <script src="~/MovieTemp/assets/js/countdown.min.js"></script>
    <script src="~/MovieTemp/assets/js/odometer.min.js"></script>
    <script src="~/MovieTemp/assets/js/viewport.jquery.js"></script>
    <script src="~/MovieTemp/assets/js/nice-select.js"></script>
    <script src="~/MovieTemp/assets/js/main.js"></script>
</body>
</html>

